.card-title {
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.App {
    margin-top: 100px;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.hidden {
    display: none;
}
.mt-5 {
    margin-top: 50px;
}
.mr-5 {
    margin-right: 50px;
}
.ml-2 {
    margin-left: 20px;
}
.mr-5px {
    margin-right: 5px;
}

